body {
    background-image: url(../IMG/kod_programmirovanie_tekst_141192_3840x2160.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    min-height: 100vh;
    

    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.block_title {

  background: rgba(255, 255, 255, 0.2); 
  
 
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Для поддержки в Safari */

  border: 1px solid rgba(255, 255, 255, 0.3); /* Тонкая рамка */
  border-radius: 15px; /* Скругление углов */
  padding: 20px;
  max-width: 600px;
  text-align: center;
  color: white; /* Цвет текста */
}


.link_lessons_list {
  display: flex !important;
    flex-direction: row !important; /* ПРИМУСОВО В РЯД */
    flex-wrap: wrap;               /* Дозволяємо перенос, якщо екран вузький */
    justify-content: center;       /* Центруємо картки в ряду */
    gap: 20px;                     /* Відстань між картками */
    
    width: 100%;                   /* Розтягуємо контейнер */
    max-width: 1200px;             /* Але не даємо йому бути ширшим за екран */
}


[class^="link_lessons__item"] {
    width: 250px;
    height: 150px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    overflow: hidden; /* важливо */
}

[class^="link_lessons__item"] a {
    display: flex;        /* або block */
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
[class^="link_lessons__item"]:hover {
    transform: translateY(-10px);
    background: rgba(255, 255, 255, 0.2);
    border-color: rgba(238, 231, 231, 0.5);
    color: white;
}


