
#header {
    color: #2c3e50;
}

.symbols_item_1 > h3 {
    color: #2980b9;
}


.symbols_item_3 span {
    color: #27ae60;
}


.territory_of_Ukraine h2 + p {
    color: #d35400;
}


.history_of_Ukraine h2 ~ h3 {
    color: #8e44ad;
}


.text_beginning.text_end {
    color: #c0392b;
}

.independence-day h2, 
.president_of_Ukraine h2, 
.Ukrainian_traditions h2 {
    color: #16a085;
}


[href*="info"] {
    color: #f39c12;
}