.title_site {
	font-size: 36px;
}

.text_beginning {
	color: rgba(251, 230, 3, 0.908);
}
.text_end {
	color: rgb(9, 107, 178);
}
h2 {
	font-size: 24px;
}
span {
	font-size: 18px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 20px;
}