* {
    box-sizing: border-box;
}


.title_game {
    font-size: 30px;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 30px;
    color: #ff007f;
    text-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f
}

.game_container {
    margin: 0 auto;
    background-color: #050515;
    width: 700px;
    min-height: 600px;
    max-height: 100%;
}

.game_start h2{
  color: #ffffff;
    text-shadow: 0 0 10px #ff007f, 0 0 20px #ff007f, 0 0 40px #ff007f;
   font-size: 30px;
   padding-left: 60px;
}

.game_item1 { 
    width: 40px;
    height: 120px;
    background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 65px;
}

.game_item2 {
    width: 200px;
    height: 40px;
      background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 65px;
}
.game_item3 {
    width: 100px;
    height: 40px;
      background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 220px;
}
.game_item4 {
    width: 40px;
    height: 100px;
      background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 280px;
}
.game_item5{
    width: 200px;
    height: 40px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 120px;
}
.game_item6{
    width: 40px;
    height: 100px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 120px;
}
.game_item7{
    width: 300px;
    height: 40px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 120px;
}
.game_item8{
    width: 40px;
    height: 100px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 380px;
    margin-top: -100px;
}
.game_item9{
    width: 40px;
    height: 100px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 380px;
    margin-top: -200px;
}
.game_item10{
    width: 40px;
    height: 100px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 380px;
    margin-top: -200px;
}

.game_item11 {
    width: 150px;
    height: 40px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 380px;
    margin-top: -130px;
}
.game_item12 {
    width: 40px;
    height: 150px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 490px;
}
.game_item12 {
    width: 150px;
    height: 40px;
  background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 490px;
}

.game_item13 { 
    width: 40px;
    height: 200px;
    background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 600px;
}
.game_item13 { 
    width: 40px;
    height: 200px;
    background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 600px;
}
.game_item14 { 
    width: 140px;
    height: 40px;
    background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 500px;
}
.game_item15 { 
    width: 40px;
    height: 100px;
    background-color: #00f2ff;
    box-shadow: 0 0 15px rgba(0, 242, 255, 0.6);
    margin-left: 500px;
}