* {
    box-sizing: border-box;
}
.title_text {
    font-size: 26px;
    color: red;
    text-decoration: dashed;
}



.border_solid_item {
    border: 5px solid red;
    background-color: rgb(167, 67, 67);
}

.border_dotted_item {
    border: 5px dotted orange;
    background-color: orangered;
}
.border_dashed_item {
    border: 5px dashed blue;
    background-color: blueviolet;
}

.border_double_item {
    border: 5px double red;
    background-color: chocolate;
}
.outline_item {
    border: 5px dotted aqua;
   outline: 20px red;
}
.border-radius_item {
    border: 5px solid purple;
    background-color: coral;
    border-radius: 10px;
}

.box-shadow_item_1 {
    border: 1px solid red;
    box-shadow: 5px 5px 10px 5px red;
    margin-bottom: 20px;
}
.box-shadow_item_2 {
    color: blue;
    font-size: 20px;
    border: 5px solid rgb(255, 230, 0);
    box-shadow: inset 5px 5px 5px 5px blueviolet;
    height: 40px;
}

.opacity_list_item_1 {
    opacity: 1;
}
.opacity_list_item_2 {
    opacity: 0.5;
}
.opacity_list_item_3 {
    opacity: 0;
}
.visibility_list_item_1 {
    visibility: visible;
}
.visibility_list_item_2 {
    visibility: hidden;
}










.background_color_item {
    background-color: crimson;
}

.background_gradient {
    background: #833AB4;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.background_image {
    background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    margin-bottom: 30px;
}
.background_repeat {
    background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    background-repeat: no-repeat;
}

.background_position_x {
  background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    background-repeat: repeat-x;   
}
.background_position_y {
  background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    background-repeat: repeat-y;   
}
.background_attachment {
    background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    background-attachment: fixed;
}
.background_size_contain {
     background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
.background_size_cover {
     background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 400px;
    background-size: cover;
}
.background_clip {
     background-image: url(../IMG/a-vibrant-gaming-pc-with-rgb-lighting-in-a-modern-workspace-setup-at-dusk-photo.jpeg);
    min-height: 500px;      
    width: 400px;
    background-repeat: no-repeat;
    background-clip: text;
    color: transparent;
}





.home_task_2 {
    background-image: url(../IMG/image\ 6.png);
    background-repeat: no-repeat;
}
.title_taks_2 {
    font-weight: 800;
    font-size: 64px;
    line-height: 150%;
    text-transform: uppercase;
    color: #f9efec;
    padding: 94px 502px 152px 501px;
}

.button_task_2 {
    background: #0a84ff;
    border-radius: 12px;
    padding: 13px 78.5px 13px 78.5px;
    max-width: 235px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
}

.home_task_3 {
    border-radius: 12px;
    padding: 32px;
    max-width: 834px;
    background: #1a1a1a;
}

.title_block_1.title_block_2.title_block_3.title_block_4 {
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
    text-transform: uppercase;
    color: #f9efec;
}

