

.header_title {
    color: rosybrown;
    font-size: 48px;
    text-align: center;
    text-decoration: dashed underline;
}

.container_padding {
    border: 10px dashed green;
    max-width: 700px;
    margin: 20px auto;
}

.padding_top {
   
    padding-top: 20px;
}
.padding_top__title {
    color:rgb(241, 77, 17);
    font-size: 20px;
    text-align: center;
}
.padding_top__text {
    color: rgb(185, 115, 29);
}


.padding_right{

    padding-right: 20px;
}
.padding_right__title {
    font-size: 20px;
    color: green;
    text-align: center;
}
.padding_right__text {
    color: rgb(205, 178, 24);
}

.padding_bottom {

    padding-bottom: 20px;

}

.padding_bottom__title {
    font-size: 20px;
    color: orange;
    text-align: center;
}
.padding_bottom__text {
    color: rgb(194, 150, 17);
}
.padding_left {

    padding-left: 20px;
}
.padding_left__title {
    font-size: 20px;
    color: blue;
    text-align: center;
}
.padding_left__text {
    color: rgb(41, 126, 200);
}

.padding {
    padding: 20px 20px;

}
.padding__title{
    font-size: 20px;
    color: blueviolet;
    text-align: center;
}
.padding__text {
    color: crimson;
}


.container_margin {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(12, 116, 207);
    text-align: center;
}

.margin_top {
    margin-top: 20px;
    width: 100%;
    border: 1px solid rgb(162, 44, 44);
    background-color: rgb(77, 53, 100);
}
.margin_top h2 {
    color: orange;
}
.margin_top p {
    color: orangered;
}

.margin_right {
    margin-right: 150px;
    background-color: darkblue;
}

.margin_right h2 {
    color: blueviolet;
    font-size: 20px;
}
.margin_right p {
    color: darkmagenta;
}
.margin_bottom {
    width: 100%;
    margin-bottom: 20px;
    background-color: rgb(88, 55, 30);
}

.margin_bottom h2 {
    color: chocolate;
    font-size: 20px;
}
.margin_bottom p {
 color: brown;
}
.margin_left {
    margin-left: 30px;
    background-color: chartreuse;
}
.margin_left h2 {
    font-size: 20px;
    color: blueviolet;
}
.margin_left p {
    color: crimson;
}



.banner {
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10px;
    width: 643px;
    height: 443px;
    background-color:#fff3e3;
}

.banner_info {
    width: 561px;
    height: 344px;
    padding: 62px 43px 37px 39px;
}

.label {
    width: 123px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.19em;
    color: #333;
}

.main_title {
    width: 559px;
    height: 130px;
    margin-top: 4px;
    font-weight: 700;
    font-size: 52px;
    line-height: 125%;
    color: #b88e2f;
}
.text_content {
    width: 546px;
    height: 52px;
    font-weight: 500px;
    font-size: 18px;
    line-height: 133%;
    color: #333;
    margin-top: 14px;
    margin-right: 13px;
    margin-bottom: 66px;
}



.button {
    padding: 25px 72px;
    width: 222px;
    height: 74px;
    background-color: #b88e2f;
}
.button_text {
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}